package ${package}.${moduleName}.query.${voPackageName};

import com.jkd.common.query.BaseQuery;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.util.Date;
import lombok.EqualsAndHashCode;
import java.math.BigDecimal;
import java.io.Serializable;
import java.time.LocalDateTime;

/**
 *

 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @modified: ${author}
 */
@Data
@AllArgsConstructor
@ApiModel
public class Delete${className}Query      {

    @NotNull
    @Min(1)
    @ApiModelProperty(value = "${pk.comments}")
    private ${pk.attrType} ${pk.lowerAttrName};


}
