package ${package}.${moduleName}.query.${voPackageName};

import com.jkd.common.query.BaseQuery;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.util.Date;
import lombok.EqualsAndHashCode;
import java.math.BigDecimal;
import java.io.Serializable;
import java.time.LocalDateTime;

/**
 *
 *
 * @package:  ${package}.${moduleName}.entity
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @modified: ${author}
 */
@Data
@AllArgsConstructor
@ApiModel(value = "${comments}：Insert${className}")
public class Insert${className}Query     {


  #foreach ($column in $insertColumns)
    /**
     * $column.comments
     */
    #if($column.attrType == "Long")
      @ApiModelProperty(value = "$column.comments",example = "1234343523")
    #end
    #if($column.attrType == "String")
    @ApiModelProperty(value = "$column.comments",example = "defaultStr")
    #end
    #if($column.attrType == "Date")
    @ApiModelProperty(value = "$column.comments",example = "Mon Mar 23 11:04:12 CST 2020")
    #end
    #if($column.attrType!="Long"&&$column.attrType!="String"&&$column.attrType!="Date")
    @ApiModelProperty(value = "$column.comments",example = "1")
    #end
    @NotNull
    private $column.attrType $column.lowerAttrName;
  #end

}
